@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(mobile.css);


* {
    margin: 0;
    padding: 0;
}

html {
    font: 18px/1.5 Lato, sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body,
input,
textarea,
button,
select,
option {
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --forest-green: #379634ff;
    --african-violet: #aa78a6ff;
    /* --davys-gray: #545863ff; */
    --electric-blue: #00e8fcff;
    --burnt-sienna: #f96e46ff;
    --saffron: #f9c846ff;
    --champagne: #f5e2c8ff;
}

.hidden {
    display: none !important;
}

.red {
    color: var(--burnt-sienna);
}

.green {
    color: var(--forest-green);
}

.b-blue {
    background-color: var(--electric-blue);
}

.flex {
    display: flex;
}

.direction-col {
    flex-direction: column;
}

.gap-small {
    gap: 0.8em;
}

.gap-medium {
    gap: 1.5em;
}

.gap-big {
    gap: 2.5em;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.site {
    background-color: var(--champagne);
    min-height: 100dvh;
    padding: 2em;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.b-r-small {
    border-radius: 0.3em;
}

.p-button {
    padding: 0.5em 1.5em;
}

a {
    transition: all 0.1s ease-in;

    &:hover {
        background-color: var(--saffron);
    }
}

.guess-container {
    flex-basis: 25em;

    .guess-input {
        flex: 1;
        border: 0px solid black;
        border-bottom-width: 1px;
        background-color: inherit;
        padding: 0.5em 0.5em;

        &:focus {
            outline: none;
        }

        &:focus + label,
        &:not(:placeholder-shown) + label {
            transform: translateY(-170%);
            font-size: 0.9em;
        }
    }

    .guess-label {
        bottom: 0.5em;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .guess-btn {
        border: none;

        &:hover {
            background-color: var(--saffron);
        }
    }
}

.error {
    p {
        color: var(--burnt-sienna);
        font-weight: 600;
    }

    .reload-btn {
        background-color: var(--burnt-sienna);
        width: fit-content;
    }
}

.answer-dialog {
    &[open] {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3em;
        width: max-content;
        text-align: center;
        background: var(--champagne);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: none;
        position: relative;
    }

    .answer-message {
        font-size: 1.5em;
    }

    .answer {
        font-weight: 700;
        font-size: 2em;
    }

    .close {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        background: inherit;
        border: none;

        &:focus {
            outline: none;
        }  
    }

    &:not([open]) {
        display: none;
    }

    &:focus {
        outline: none;
    }
}
