@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font: 18px/1.5 Lato, sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body,
input,
textarea,
button,
select,
option {
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --forest-green: #379634ff;
    --african-violet: #aa78a6ff;
    /* --davys-gray: #545863ff; */
    --electric-blue: #00e8fcff;
    --burnt-sienna: #f96e46ff;
    --saffron: #f9c846ff;
    --champagne: #f5e2c8ff;
}

.hidden {
    display: none !important;
}

.red {
    color: var(--burnt-sienna);
}

.green {
    color: var(--forest-green);
}

.b-blue {
    background-color: var(--electric-blue);
}

.flex {
    display: flex;
}

.direction-col {
    flex-direction: column;
}